<!DOCTYPE html>
<html>
  <head>
    <title>AnotherAmazon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
        <nav>
          <%= link_to 'New Product', new_product_path %>
          |
          <%= link_to 'All Products', products_path %>
          |
          <%= link_to 'Sign Up', new_user_path %>
        </nav>
        <% flash.each do |type, message| %>
        <div class="flash-message alert alert-<%= type %>">
          <%= message %>
        </div>
        <% end %>
    </header>
    <%= yield %>
  </body>
</html>
